doctype html
html
  head
    title BuyOrSell
    link(rel='stylesheet', href='/stylesheets/SignUp.css')
    link(href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap",rel="stylesheet")
   <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  body
    if (javascript)
      script(type='text/javascript').
        var message='#{javascript}'.toString();
        alert(message);
    div#BackgroundImage
    div#Form
      h1.Signh1 BuyOrSell
      h2.signh2 SignUp For Free
      form(action='/register' method='post')
        input.inputtextfield#name(type="text" name="uname" placeholder="UserName..." required)
        br
        textarea.inputtextfield#address(type="text" name="address" placeholder="Address..." cols='20' required)
        br
        input.inputtextfield#password(type="password" name="pass" placeholder="Password..." required)
        br
        input.inputtextfield#cpassword(type="password" name="cpass" placeholder="Confirm Password..." required)
        br
        input.inputtextfield#mobile(type='text' name='mobile' placeholder='Mobile Number...' required)
        br
        input#button(type="submit" name="signup" value="Sign Up")
        br
        br
      p 
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href='/') Already Have Account ?